.App {
  width: 100%;
  background-color:#214252;
  padding: 50px 10px;
}

.Content {
  display: table;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background-color:#eeeeee;
  padding:50px;
}
